{% extends 'base.html' %}


{% block content %}

    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione obcaecati non repellendus voluptate nemo iure doloribus, esse quas facere modi, ex, enim sapiente dignissimos est temporibus. Est magni molestiae laudantium voluptates. Porro nobis praesentium perspiciatis adipisci suscipit, vitae, minima sunt, explicabo facere eveniet totam! Ad suscipit illo excepturi in temporibus ut sint? Nihil eum soluta     deserunt rerum. Assumenda consequuntur tempora quisquam, vel error nam earum magni quo ex deleniti incidunt ipsa reiciendis nemo, ad eaque illum pariatur rem necessitatibus eius iusto impedit unde? Cum, voluptas dolores? Vitae iusto tempora veritatis a molestiae! Velit quasi maxime, illum qui similique vel sint.</p>

            <div class="text-center">
                <a class="btn btn-primary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-primary" href="/signup/">
                    Signup
                </a>
            </div>
        </section>
    </main>

{% endblock %}
