{% extends 'base.html' %}


{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Signin</h1>

                {{ error }}

                <form action="/signin/" method="post" class="card card-body">
                    {% csrf_token %}
                    {{ form }}
                    <button class="mt-2">Signin</button>
                </form>
            </div>
        </div>
    </main>

{% endblock %}