{% extends 'base.html' %}



{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Signup</h1>

                {{ error }}

                <form action="/signup/" method="post" class="card card-body">
                    {% csrf_token %}
                    {{ form }} 

                <button class="mt-2">
                        Signup
                </button>
                </form>
            </div>
        </div>
    </main>

{% endblock %}



